pip-tools
slackclient
slackeventsapi
python-dateutil
python-decouple
psycopg2-binary
requests
sentry-sdk
celery[redis]==5.2.2
dj-database-url
django_log_formatter_ecs
django==3.2.15
djangorestframework
django-environ
whitenoise
waitress
