pip-tools
python-dateutil
python-decouple
psycopg2-binary
requests
sentry-sdk==1.14.0
dj-database-url
django_log_formatter_ecs
django==4.1.7
djangorestframework
django-environ
whitenoise
waitress

# Dependabot fixes
aiohttp>=3.8.4
async-timeout==4.0.2
certifi==2022.12.07
slackeventsapi==3.0.1
slackclient==2.9.4
redis>=4.4.4
celery[redis]>=5.2.7
