pip-tools
python-dateutil
python-decouple
psycopg2-binary
requests
sentry-sdk
celery[redis]==5.2.2
dj-database-url
django_log_formatter_ecs
django==4.1.7
djangorestframework
django-environ
whitenoise
waitress

# Dependabot fixes
certifi==2022.12.07
slackeventsapi==3.0.1
slackclient==2.9.4
